a:link, a:visited {
    color:#00549a;
    text-decoration:none;
}
.clearfix {zoom:1;}
.clearfix:after {content:'';display:block;height:0;clear:both;visibility:hidden;}
#hd {margin-bottom:10px;}
.mod-table,
.img-txt-module,
.content-module,
.side-module,
.img-txt-list-module {
    margin-bottom:10px;
}
.mod-table .hd h2,
.img-txt-module .hd h2,
.content-module .hd h2,
.side-module .hd h2,
.img-txt-list-module .hd h2 {
    font-weight:bold;
    font-family:Verdana;
    font-size:123.1%;
    padding:5px 0;
}
.img-txt-list-module .bd .img,
.img-txt-module .bd .img {
    float:left;
    margin-right:10px;
}
.img-txt-list-module .bd .txt,
.img-txt-module .bd .txt {
    display:table;
}
/* .gui-button (start) : 按鈕 {{{ */
.gui-button {
    background:url(img/us/sprite_sam.png) repeat-x;
    border:solid 1px #808080;
    border-width:1px 0;
    display:-moz-inline-box;
    display:inline-block;
    list-style-image:url(data:behavior:mouseover,&uihtmlbutton);
    margin:auto .25em;
    word-break:break-all;
    word-wrap:break-word;
    zoom:1;
}
.gui-button .first-child {
    border:solid 1px #808080;
    border-width:0 1px;
    display:block;
    overflow:hidden;
    position:relative;
    margin:0 -1px;
    *display:inline-block;
    *left:-1px;
}
.gui-button .first-child span {
    color:#000;
    display:block;
    font-weight:bold;
    line-height:2;
    padding:0 5px;
    min-height:1.5em;
    font-size:85%;
    *display:inline-block;
    *line-height:1.2;
    *min-height:auto;
    *padding:6px 7px 4px 11px;
    _height:1.1em;
    _padding:6px 7px 4px 11px;
}
.gui-button .first-child a,
.gui-button .first-child input {
    cursor:pointer;
    filter:alpha(opacity=0);
    font-size:15px;
    height:10em;
    left:0px;
    opacity:0;
    padding:100px;
    position:absolute;
    top:0;
    width:10em;
    zoom:1;
}
.gui-button .first-child a {
    background:#fff; /* 針對 a 必需設背景顏色，不然無法點選 */
}
.gui-button:focus, 
.gui-button-focus, 
.gui-button:hover, 
.gui-button-hover {
    background-position:0 -1300px;
    border-color:#7d98b8;
}
.gui-button:active, 
.gui-button-active {
    border-color:#7d98b8;
    background-position:0 -1700px;
}
.gui-button:focus .first-child, 
.gui-button-focus .first-child, 
.gui-button:hover .first-child,
.gui-button-hover .first-child, 
.gui-button:active .first-child, 
.gui-button-active .first-child {
    border-color:#7d98b8;
}
.gui-button:focus .first-child span, 
.gui-button-focus .first-child span, 
.gui-button:hover .first-child span,
.gui-button-hover .first-child span, 
.gui-button:active .first-child span, 
.gui-button-active .first-child span {
    color: #000;
}
/* .gui-button (end) }}} */
/* .shadow (start) : 表單文字輸入欄位的陰影裝飾 {{{ */
.shadow {
    display:-moz-inline-stack;
    display:inline-block;
    vertical-align:text-top;
}
.shadow span {
    background:url(img/us/bg_input_shadow.gif) left top no-repeat;
    border:solid 1px #9ba3a9;
    display:block;
    padding:3px;
    *padding:2px 1px 2px 3px;
    min-width:100px;
}
.shadow input,
.shadow textarea {
    background:transparent;
    border:none;
    display:block;
    height:auto;
    margin:0;
    padding:0;
    width:auto;
}
.shadow input {
    width:10em;
    font-size:93%;
}
.shadow input:hover,
.shadow input:focus {
    background:#ffa;
}
.shadow textarea {
    height:100px;
}
/* .shadow (end) }}} */
/* .mod-admin-grid (start) : 不用 table 但需要 table 整齊效果的模組 {{{ */
.mod-admin-grid, .mod-admin-form {
    margin-bottom:10px;
    border:solid 1px #ddd;
    -moz-border-radius:2px;
}
.mod-admin-grid .hd, .mod-admin-form .hd {
    background:#f3f9ff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAABABAMAAADPFss3AAAAJ1BMVEXz+f/1+v3t9v/x+P/v9//w9//y+P/y+f/s9v/z+f7w+P/u9v/u9/+RcnqwAAAAPklEQVR4XpXCQREAIAgEwKtgBStQwQpUoAIVrEAFKlCBUI4vRn/sLMboNcPemPMfgUys9WSu7iB6ilTVu+8AILgWt/6Mg88AAAAASUVORK5CYII=) repeat-x scroll left top;
}
.mod-admin-grid .hd h2, .mod-admin-form .hd h2 {
    font-weight:bold;
    font-size:123.1%;
    padding:6px 0 6px 10px;
}
.mod-admin-grid .bd {
    text-align:center;
}
.mod-admin-form .bd .row:after, 
.mod-admin-grid .bd .row:after {
    clear:both;
    content:'';
    display:block;
    height:0;
    visibility:hidden;
}
.mod-admin-form.bd .grid,
.mod-admin-grid .bd .grid {
    display:table;   
    margin-bottom:5px;
    width:100%;
}
.mod-admin-form .bd .grid .row,
.mod-admin-grid .bd .grid .row {
    display:table-row;   
    margin-bottom:5px;
    zoom:1;
}
.mod-admin-form .bd .grid .row .cell,
.mod-admin-grid .bd .grid .row .cell {
    display:table-cell;   
    padding:5px 0;
    *float:left;
}
.mod-admin-grid .bd .grid .row .title {
    border:solid 1px #eee;
    border-width:1px 0;
    color:#444;
    font-size:85%;
    padding:2px 0;
}
.mod-admin-form .bd .footer,
.mod-admin-grid .bd .footer {
    background:#f3f9ff;
    border-top:solid 1px #eee;
    display:block;
    padding:4px 5px 2px;
    text-align:left;
}
.mod-admin-form .bd .grid .row .title {
    color:#444;
    font-size:85%;
    padding:8px 5px;
    text-align:right;
}
/* .mod-admin-grid (end) }}} */
.mod-admin-sidebar {
    margin-bottom:10px;
}
.mod-admin-sidebar .hd {
}
.mod-admin-sidebar .bd {
    border:solid 1px #ddd;
    -moz-border-radius:3px;
    padding:10px;
}
.mod-admin-sidebar .bd li span {
    font-weight:bold;
}
.mod-admin-sidebar .bd li li a {
    display:block;
    padding:2px;
    padding-left:10px;
}
.mod-admin-sidebar .bd li li.selected {
    background:#ffc;
}
.mod-admin-sidebar .bd li li.selected a {
    color:#000;
    cursor:auto;
}
.mod-admin-sidebar .bd li li a:hover {
    background:#ffc;
}
.mod-admin-sidebar .bd ul ul {
    margin-bottom:5px;
}
.mod-table .grid {
    table-layout:fixed;
    border-collapse:collapse;
}
.mod-table .grid thead th {
    font-weight:bold;
    text-align:center;
}
.mod-table .grid th {
    background:#eee;
}
.mod-table .grid th,
.mod-table .grid td {
    padding:5px;
    font-family:Verdana;
    border:solid 1px #ccc;
}
.mod-table .grid tbody th {
    text-align:right;
    color:blue;
}
#culture-form .bd form .row  {
    margin:10px;
    font-family:Verdana;
}
#culture-form .bd form .row * {
    vertical-align:baseline;
}
#header .logo {
    float:left;
    width:400px;
    /*height:77px;*/
    margin:10px 0;
    overflow:hidden;
}
#header .sel_lang {
    color:#333;
    float:right;
    font-size:93%;
    margin:40px 10px 0;
}
td {
    padding:3px;
    text-align:center;
}
#masthead {
    margin-top:20px;
    padding-top:10px;
    border-top:1px solid gray;
}
